<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'picture.jpg', width: 300, alt: 'profile image' %>
  </div>

  <div class="col-md-8">
      <p>Mizzen schooner hempen halter pink furl take a caulk hands warp Jack Ketch clipper. Come about furl careen sheet pink ye port hogshead heave to deadlights. Fire ship aye lateen sail booty American Main square-rigged Gold Road warp broadside quarter.</p>
      <p>Lad bounty bucko cackle fruit Sink me scurvy interloper gibbet black spot quarterdeck. Deadlights salmagundi trysail come about nipperkin strike colors hang the jib coffer clap of thunder furl. Lee hail-shot smartly hogshead jib shrouds hands chantey bring a spring upon her cable rigging.</p>
      <p>Reef Admiral of the Black rope's end mizzenmast wench Jolly Roger jack gun hands prow. Bring a spring upon her cable overhaul walk the plank rope's end parley reef sails galleon Admiral of the Black poop deck capstan. To go on account interloper broadside Sail ho keelhaul quarter boatswain Letter of Marque mutiny doubloon.</p>
  </div>
</div>
